.App {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%
}

.gif-list {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-title {
  justify-content: center;
  font-size: 48px;
  font-family: 'Anton', sans-serif;
  display: flex;
  flex-direction: row;
  height: 50px;
}

.main-content {
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  width: 100%;
  display: flex;
}

.main-header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
  color: white;
}

form {
  width: 100%;
  background: white;
  display: flex;
  border-radius: .2em;
  border: solid 3px white;
  box-shadow: 0 1px 14px rgba(0, 0, 0, .12);
}

form input {
  padding: 12px;
  font-size: 1.15em;
  width: 150%;
}

form button {
  padding: 0 1em;
  font-size: 1.2em;
  background: black;
  color: white;
  border-radius: .5em;
  font-family: 'Open Sans Condensed', sans-serif;
}
